POC_TARGET=observabilidade.escossio.dev.br
ZABBIX_API_URL=http://127.0.0.1:8081/api_jsonrpc.php
ZABBIX_USER=Admin
ZABBIX_PASSWORD=replace-me
HOST_IDENTITY_MODEL=global-ip
HOP_GROUP_NAME=Transit / Hop
ICMP_TEMPLATE_GROUP=Templates/Network devices
ICMP_TEMPLATE_NAME=ICMP Ping
MAP_PREFIX=MTR ASN - 
MAP_ICON_NAME=Cloud_(96)
MAP_ICON_ID=5
ASN_LOOKUP_MODE=online
ASN_LOOKUP_TIMEOUT_SECONDS=5
ASN_CACHE_PATH=/srv/observabilidade-zabbix/mtr-hop-map/data/cache/asn_company_cache.json
